# Due to Azure DevOps being behind nat/firewall
# Cron schedule is used rather than a trigger
schedules:
- cron: "*/10 * * * *"
  displayName: Every 10 Minute Check
  branches:
    include:
    - main

jobs:
- job: Build_Frontend
  pool:
    name: default
  steps:
  - task: Docker@2
    displayName: Frontend Docker Build
    inputs:
      containerRegistry: 'harbor-registry'
      repository: 'p1/frontend'
      command: 'buildAndPush'
      Dockerfile: 'frontend/Dockerfile'
      tags: |
        latest
        $(Build.BuildId)
- job: Build_Backend
  pool:
    name: default
  steps:
  - task: Docker@2
    displayName: Backend Docker Build
    inputs:
      containerRegistry: 'harbor-registry'
      repository: 'p1/backend'
      command: 'buildAndPush'
      Dockerfile: 'restapi/Dockerfile'
      tags: |
        latest
        $(Build.BuildId)
- job: Build_Static
  pool:
    name: default
  steps:
  - task: Docker@2
    displayName: Static Host Docker Build
    inputs:
      containerRegistry: 'harbor-registry'
      repository: 'p1/static'
      command: 'buildAndPush'
      Dockerfile: 'static-host/Dockerfile'
      tags: |
        latest
        $(Build.BuildId)